<h1>Welcome to Dev Prajapati's Portfolio</h1>
<p>Hi, I'm Dev, a student and a web developer passionate about building web applications.</p>
<a class="btn btn-secondary me-2" href="/about">About Me</a>
<a class="btn btn-secondary me-2" href="/projects">Projects</a>
<a class="btn btn-secondary" href="/contact">Contact Me</a>
