body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header{
  height: 120px;
}

header h1 {
  margin: 10 px 0;
}

header nav a{
  margin: 0 15px 0 0;
  text-decoration: none;
}
header nav a:hover {
  font-size: 17px;
}


main {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
footer {
  text-align: center;
  padding: 10px;
  color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1em;
}
#slash{
  font-size: 1.5rem;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
}

footer a:hover {
  font-size: 1.6rem;
}